body {
    font-family: Roboto, sans-serif;
}



#grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 50px auto auto auto;
    align-items: center;
}

/* Thanh công cụ */
.first {
    height: 60px;
    display: flex;
}

.head {
    background-color: #f1f1f3;
    height: 60px;
    flex: 1;
    border: 10px solid white;
}

.search {
    position: absolute;
    width: 40px;
    top: 25px;
    left: 25px;

}

.title {
    position: absolute;
    color: #7d7d7d;
    font-weight: lighter;
    top: 30px;
    left: 70px;
    margin: 0px;
}

.box1 {
    width: 60px;
    margin-left: 25%;
}

.item {
    flex: 5;
}

.item1 {
    background-color: white;
    height: 60px;
    width: 60px;
}


/* Phần Tổng quan */
.second {
    position: relative;
    top: 35px;
    display: flex;
    flex-direction: column;
    height: 60px;
}

.title-headline1 {
    display: flex;
    height: 40px;
    gap: 10px;
    
}
.headline1 {
    margin: 5px;
    font-size: 20px;
    text-align: center; 

}
.style0 {
    flex: 1;
}
.style1 {
    margin-top: 8px;
    font-weight: lighter;
    flex: 1;
    
}


.line-black{
    background-color: black;
    height: 2px;
    width: 16%;
    margin-left: 4%;

}


/* Phần hình ảnh */
.third {
    position: relative;
    top: 40px;
    height: auto;
}

.slider {
    position: relative;
    max-width: 1000px;
    max-height: 1000px;
    margin: auto;
    overflow: hidden;
    
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.prev {
    left: 10px;
}
.next {
    right: 10px;
}

/* Phần hiện giá tiền */
.four {
    display: flex;
    width: 100%;
    height: 50px;


}

.color1 {
    position: absolute;
    background-image: linear-gradient(90deg, rgb(223, 38, 52), rgb(245, 85, 70));
    background-color: initial;
    height: 120px;
    width: 100%;
    flex: 0.5;
    clip-path: polygon(0 0, 55% 0, 45% 100%, 0 100%);
}
    .sale1 {

        width: 260px;
        height: auto;
    }

    .sale-icon{
        position: absolute;
        height: 50px;
        width: 50px;
        top: 25px;
        left: 10%;
        transform: rotate(-45deg);
    }

    .headline2 {
        position: absolute;
        top: 30px;
        left: 15%;
        width: auto;
        height: auto;
    }

    h2.coupon {
        color: white;
        margin-left: 25px; 
    }

    h3.coupon {
        position: absolute;
        color: white;
        text-decoration: line-through;
        font-weight: lighter;  
    }

    h3.sale {
        left: 85px;
        text-decoration: none;
    
    }



.color2 {
    background-image: linear-gradient(270deg, rgb(255, 209, 17), rgb(249, 212, 35));
    background-color: initial;
    height: 120px;
    width: 46%;
    padding-left: 8%;
    clip-path: polygon(9% 0, 100% 0, 100% 100%, 0 100%);
    flex: 0.5;
    position: absolute;
    left: 45%;

}

    .flash-icon {
    position: absolute;
    height: 25px;
    width: 20px;
    top: 40px;
    left: 30%;
    animation: blink 1s infinite;
    }

    .sale2 {
    width: 260px;
    height: auto;
    }

    .headline3 {
    position: absolute;
    top: 35px;
    left: 35%;
    width: auto;
    }


    .headline-gr2 {
    font-weight: lighter;
    }



/* Phần hiện phiếu giảm giá */
.five{
    position: relative;
    top: 90px;
    height: 40px;
    width: 100%;
}

.ticket-flex {
    display: flex;
}

.ticket-space{
    position: relative;
    height: 30px;
    width: 100px;
    left: 10px;

}

.ticket-icon{
    position: absolute;
    height: 60px;
    width: 200px;
    z-index: -1;
}

.sale-ticket {
    position: absolute;
    width: 100px;
    font-size: 20px;
    color: red;
    top: 5px;
    left: 35%;
    text-align: center;
}

.arrow-icon {
    position: absolute;
    height: 30px;
    left: 95%;
    top: 15px;
}

/* Phần tên sản phẩm */

#grid-container2 {
    display: flex;
    position: relative;
    top: 140px;
    flex-direction: column;
    width: 100%;
    height: auto;

}


.box-name {
    display: flex;
    position: relative;
    left: 20px;
    width: 90%;
    height: 50px;
    flex: 2;

}

.sale-icon2 {
    position: absolute;
    background-color: #fe2b54;

    width: 100px;
    height: 40px;
    border-radius: 20px;
}

.sale-name {
    width: 100px;
    top: 9px;
    left: 5px;
    position: absolute;
    color: white;
    font-style: oblique;
    font-weight: lighter
}

.product-name {

    line-height: 1.5;
}

.bookmark {
    position: absolute;
    width: 20px;
    top: 10px;
    left: 99%;
}

.title-headline2{
    position: relative;
    top: 20px;
}

.poin-box {
    display: flex;
    position: relative;
    height: 30px;
    width: 100%;
}

.box-gr1 {
    flex: 2.5;
    height: 35px;
    position: absolute;
    left: 5%;

}
.box-location {
    flex: 1;
    position: absolute;
    left: 28%;
}

.box-gr2 {
    flex: 2.5;
    position: absolute;
    left: 30%;
    height: 50px;
    width: 200px;

}

.box-gr3 {
    flex: 4;
    position: absolute;
    left: 60%;
}

.poin-box > .box-gr1 > .star {
    position: absolute;
    left: 5%;
    height: 30px;
}

.poin-box > .box-gr1 > .name {
    position: absolute;
    margin: 0px;
    top: 7px;
    left: 35px;
} 


.poin-box > .box-gr1 > .sell {
    position: absolute;
    top: 7px;
    left: 75px;

}

.poin-box > .box-location > .box2{
    position: absolute;
    background-color: #afafaf;
    height: 30px;
    width: 2px;
    left: 25%;
}

.poin-box > .box-gr2 > .sell {
    position: absolute;
    color: #afafaf;
    left: 10%;
    top: 5px;
    font-weight: lighter;
}

.poin-box > .box-gr2 >.number {
    position: absolute;
    top: 5px;
    left: 45%
}

.poin-box > .box-gr3 > .truck {
    position: absolute;
    height: 30px;
    left: 55%;
}

.poin-box > .box-gr3 > .free {
    position: absolute;
    width: 160px;
    top: 7px;
    left: 40px;
    color: #1cbfc0;
}

.title-headline3 {
    position: relative;
    top: 80px;
    left: 15px;
    width: 97%;
    background-color: #f9f5f2;
}

.cup {
    position: relative;
    height: 25px;
    width: auto;
    top: 5px;
    left: 5px;
}

.title-cup {
    color: #9c7131;
    position: absolute;
    top: 10px;
    left: 30px;
}

.title-cup2 {
    color: #9c7131;
    position: absolute;
    top: 10px;
    left: 190px;
    font-weight: lighter;
}

.test1 {
}

h3{
    margin: 0px;
}

h2 {
    margin: 0px;
}

h4 {
    margin: 0px;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }

}