.ladi-box{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 500px;
}

.ladi-element{
    position: absolute;
}

/* Thanh tim kiem */
#container1{
    display: flex;
    padding: 10px;
    width: 100%;
    height: 80px;
}

#head-item1{
    display: flex;
    padding-left: 480px;
    padding-top: 10px;
    gap: 40px;
}

#box1 > .search-box{
position: absolute;
width: 400px;
height: 80px;
overflow: hidden;
background-color: rgb(241, 241, 243);
z-index: -1;
}

#search-item1 {
    width: 50px;
    padding-top: 15px;
    padding-left: 10px;
}

#item-left {
    width: 60px;
    height: auto;
    
}

/* Phan Tong Quan */
.headline1 {
    display: flex;
    flex-direction: column;
}

.headline2 {
    display: flex;
    gap: 70px;
    padding-left: 20px;
}

#line1 {
    top: 160px;
    left: 0px;
    width: 768px;
}

#line2 {
    top: 160px;
    left: 16px;
    width: 130px;
}

#line1 > .line-head {
    width: 100%;
    padding: 8px;
}

#line2 > .line-head {
    width: 100%;
    padding: 8px;
}

#line1 > .line-head > .line-container {
    border-top: 2px solid rgb(233, 233, 233);

}

#line2 > .line-head > .line-container {
    border-top: 2px solid rgb(18, 18, 18);
}

.line-head > .line-container {
    width: 100%;
    height: 100%;
    border-bottom: 0 !important;
    border-right: 0 !important;
}

.line-head {
    position: relative;
}

.title1 {
    width: 120px;
}

.title2 {
    width: 120px;
}

.title-headline1 {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.6;
    color: rgb(0, 0, 0);
    text-align: center;
}

.title-headline2 {
    font-size: 20px;
    line-height: 1.6;
    font-weight: lighter;
    text-align: center;
}

/* Image san pham*/
#product1 {
    width: 100%;
    position: absolute;
    padding-top: 10px;
    z-index: -1;
    max-width: 768px;
    max-height: auto;
}

#container2 {
}

body {
    font-family: Roboto, sans-serif;
}

#headline3 {
    display: flex;
    position: relative;
    padding-left: 90px;
    top: 740px;
}

.head-item2 {
    position: relative;
    width: 30px;
    height: 30px;
}

#item-rotate {
    position: absolute;
    width: 30px;
    top: 10px;

}

.headline-group {
    color: white;
    position: absolute;

}

div{
    display: block;
}

@media (max-width: 768px) {
    /* Các quy tắc CSS dành cho màn hình có chiều rộng tối đa 768px */
    body {
        font-size: 18px;
    }


    .container {
        width: 90%;
    }
}